<div id="footer">
  <nav class="navbar navbar-defualt navbar-fixed-bottom">
    <div class="container">
      <p class text-muted credit>
        <hr>Site Creator: Jen Schumann <img src="../assets/beer-mug-silhouette-16-278747.png" alt="|"> 2017

        <%# <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon.ico"> %>
      </p>
    </nav>
  </div>
