<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" data-toggle="modal" href="#aboutModal">DEVinitely</a>
        </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/sessions/login">Login</a></li>
                <li style="margin-right:1em;"><a href="/sessions/Register">Register</a></li>

                <%# for now.. leaving this portion of site open for non-members to see posts (but nothing else)     %>
                <%# <li style="margin-right:1em;"><a href="/articles">Posts</a></li> %>

                <%# visitor needs to create an account to see FLAB members' info so, nixing this:
                <li id="navItem"><a href="/authors">FLABies</a></li> %>

            </ul>

    </div>
</nav>




<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About DEVinitely</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
