<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLAB</title>

    <%# BOOTSTRAP CSS LINK%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  </head>
  <body>

              <div id="wrap">
              <header>
              <div class="jumbotron">

                <div class="container" style="margin: 0 auto;">
                  <h1>Football Loving A**hole Beerdrinkers</h1>
                  <h2>A place for people who love COLLEGE football and CRAFT beer & like to wax poetic about both!</h2>
                </div>
                <nav>
                  <ul>

                    <li>
                      <a class="link" href="/articles">FLAB Articles</a>
                    </li>
                    <li>
                      <a class="link" href="/sessions/login">Login, FLABie</a>
                    </li>
                    <li>
                      <a class="link" href="/sessions/register">Register, be a FLABie </a>
                    </li>
                    <li>
                      <a class="logout" href="/sessions/logout">Logout</a>
                    </li>
                  </ul>
                </nav>
              </div>
              </header>
              </div>
              <div class="clearfix"></div>
  </body>
</html>
