<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/nav.ejs %>


              <header>
                <div id="wrap">
              <div class="jumbotron">

                <div class="container" style="margin: 0 auto;">
                  <br/>
                  <br/>
                  <h1 id="flabTitle">{ F L A B }</h1><br/>
                  <h1 class="flabByLines">Football Loving A**hole Beerdrinkers</h1><br/>
                  <h2 class="flabByLines">A place for people who love COLLEGE football and CRAFT beer & like to wax poetic about both!</h2><br/>
                  <img id="mugHome" src="assets/beer-mug-silhouette-144-278747.png" alt="FLAB">
                </div>
                <nav>
                  <ul>

                    <li>
                      <a class="link" href="/articles">FLAB Articles</a>
                    </li>
                    <li>
                      <a class="link" href="/sessions/login">Login, FLABie</a>
                    </li>
                    <li>
                      <a class="link" href="/sessions/register">Register, be a FLABie </a>
                    </li>
                    <li>
                      <a class="logout" href="/sessions/logout">Logout</a>
                    </li>
                  </ul>
                </nav>
              </div>
              </header>
              </div>
              <div class="clearfix"></div>
              <% include ./partials/footer.ejs %>
  </body>
</html>
