<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/visitor-nav.ejs %>


              <header>
                <div id="wrap">
              <div class="jumbotron">

                <div class="container" style="margin: 0 auto;">
                  <br/>
                  <br/>
                  <h1 id="devTitle">DEVinitely</h1><br/>

                  <h2 class="devByLines">Insights from a career changer about developer learning experiences</h2><br/>

                </div>
                <nav>
                  <ul>

                    <li>
                      <a class="link" href="/articles">FLAB Articles</a>
                    </li>
                    <li>
                      <a class="link" href="/sessions/login">Login, FLABie</a>
                    </li>
                    <li>
                      <a class="link" href="/sessions/register">Register, be a FLABie </a>
                    </li>
                    <li>
                      <a class="logout" href="/sessions/logout">Logout</a>
                    </li>
                  </ul>
                </nav>
              </div>
              </header>
              </div>
              <div class="clearfix"></div>
              <% include ./partials/footer.ejs %>
  </body>
</html>
