<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Article Page</h1>

    <form action="/articles" method="POST">
      Author: <input type="text" name="author"/><br/>
      Article: <input type="text" name="article"/><br/>
      <input type="submit" name="" value="Create Article">

    </form>

  </body>
</html>
