<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

        <header>
                  <h1>Articles</h1>

                  <nav>

                          <ul>

                            <li>
                                    <a href="/">Home</a>
                            </li>

                            <li>
                                    <a href="/articles">Articles Index</a>
                            </li>

                            <li>
                                    <a href="/users">Author List</a>
                            </li>

                            <li>
                                    <a href="/articles/new">Create New Article</a>
                            </li>

                            <li>
                                    <a href="/sessions/logout">Logout</a>
                            </li>
                          </ul>
                  </nav>
        </header>

        <main>
                    <h2>List of Articles</h2>
                    <ul>
                              <% for(let i = 0; i < article.length; i++) { %>

                                    <li>
                                          <a href="/articles/<%=article[i]._id%>">
                                          <h3><%=article[i].title%></h3></a>
                                    </li>
                                <% } %>
                    </ul>
        </main>

        <div class="clearfix"></div>
        <% include ../partials/footer.ejs %>
  </body>


</html>
