<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <br>
    <br>
    <br>

          <header>
                      <h1>Create an Article</h1>
                      <nav>
                              <ul>
                                <li>
                                        <a href="/">Home</a>
                                </li>

                                <li>
                                        <a href="/articles">Articles Index</a>
                                </li>

                                <li>
                                        <a href="/authors">Author List</a>
                                </li>

                                <li>
                                        <a href="/articles/new">Create New Article</a>
                                </li>

                                <li>
                                        <a href="/sessions/logout">Logout</a>
                                </li>
                              </ul>
                      </nav>
          </header>

          <main>
            <div class="new">

                <% if(userSession.username){ %>

                    <form action="/articles" method="POST">

                          <select name="authorId">
                              <% for(let i = 0; i < authors.length; i++) { %>
                                <option value="<%=authors[i]._id%>">
                                <%=authors[i].name%>
                                </option>
                              <% } %>

                          </select><br/>
                          <input type="text" name="title"/><br/>
                          <textarea name="body"></textarea><br/>
                          <input type="submit" value="Publish Article"/>
                    </form>

                    Author: <%=userSession.username%>
                </div>

                <%  } %>
          </main>
          <div class="clearfix"></div>
          <% include ../partials/footer.ejs %>
  </body>
</html>
