<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

            <header>

                      <nav>
                              <ul>

                                <li>
                                        <a href="/">Home</a>
                                </li>

                                <li>
                                        <a href="/articles">Articles Index</a>
                                </li>

                                <li>
                                        <a href="/users">Author List</a>
                                </li>

                                <li>
                                        <a href="/articles/new">Create New Article</a>
                                </li>

                                <li>
                                        <a href="/sessions/logout">Logout</a>
                                </li>
                              </ul>
                      </nav>
            </header>

            <main>
                      <section>
                                  <h1><%=article.title%></h1>



                                  <h5><%=article.body%></h5>
                      </section>
            </main>

            <section>
                        <form action="/articles/<%=article._id%>?_method=DELETE" method="post">
                          <input type="submit" value="Delete Article">

                        </form>
            </section>

            <section>
                      <a href="/articles/<%=article._id%>/edit">Edit</a>
            </section>
            <div class="clearfix"></div>
            <% include ../partials/footer.ejs %>
  </body>
</html>
