<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
        <header>
              <h1>Authors</h1>

              <nav>
                    <ul>
                      <li>
                              <a href="/">Home</a>
                      </li>

                      <li>
                              <a href="/articles">Articles Index</a>
                      </li>

                      <li>
                              <a href="/users">Author List</a>
                      </li>

                      <li>
                              <a href="/users/new">Become a FLAB Blog Post Contributor</a>
                      </li>

                      <li>
                              <a href="/articles/new">Create New Article</a>
                      </li>

                      <li>
                              <a href="/sessions/logout">Logout</a>
                      </li>
                    </ul>
              </nav>

        </header>


        <main>
                  <h2>List of Authors</h2>

                  <ul>

                    <% for(let i = 0; i < users.length; i++){ %>
                    <li>
                        <a href="/users/<%=users[i]._id%>">
                        <%=users[i].username%></a>
                    </li>

                    <% } %>

                  </ul>
        </main>

        <div class="clearfix"></div>
        <% include ../partials/footer.ejs %>
  </body>
</html>
