<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<br>
<br>
<br>


  <h1 class="reg">Login, FLABie <br><br> <small>Not a FLABie, yet? <a href="/sessions/register">Register!</a>
  </small></h1>




<div class="list-group-item">
  <form  action="/sessions/login" method="POST">
    <p>Username: <input type="text" name="username" value=""> <br>
    </p>
    <p>Password: <input type="password" name="password" value=""><br>
    </p>
    <button class="btn btn-default" role="button">Login</button>
  </form>
</div>

<% if (message) { %>
  <%= message %>
  <% } %>


  <div class="clearfix"></div>
  <% include ../partials/footer.ejs %>
  </body>
  </html>
