<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<br>
<br>
<br>
<br>
<br>

<div class="register">


      <div class="list-group-item">
        <h1 class="reg">Register to be a FLABie! </h1>
      <form action="/sessions/register" method="POST">
        <p>Username: <input type="text" name="username" value=""> <br>
        </p>
        <p>Password: <input type="password" name="password" value=""><br>
        </p>
        <button class="btn btn-default" role="button">Register</button>
      </form>
      </div>
</div>


<div class="clearfix"></div>
<% include ../partials/footer.ejs %>
</body>
</html>
