<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <br>
    <br>
    <br>

<!-- need to come back and flesh out the full author model edit capability -->
            <header>
                        <h1>Edit <%=author.name%>'s Info'</h1>
                        <nav>

                                <ul>
                                  <li>
                                          <a href="/">Home</a>
                                  </li>

                                  <li>
                                          <a href="/articles">Articles Index</a>
                                  </li>

                                  <li>
                                          <a href="/authors">Author List</a>
                                  </li>

                                  <li>
                                          <a href="/articles/new">Create New Article</a>
                                  </li>

                                  <li>
                                          <a href="/sessions/logout">Logout</a>
                                  </li>
                                </ul>
                        </nav>
            </header>

            <main>
                        <h2>Author Attributes:</h2>

                        <form action="/authors/<%=author._id%>?_method=PUT" method="post">

                          <input type="text" name="name" value="<%=author.name%>"/><br/>

                          <input type="submit" value="Update Author"/>

                        </form>
            </main>


            <div class="clearfix"></div>
            <% include ../partials/footer.ejs %>
  </body>
</html>
