<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <header>
              <h1>Authors</h1>

              <nav>
                    <ul>
                      <li>
                              <a href="/">Home</a>
                      </li>

                      <li>
                              <a href="/articles">Articles Index</a>
                      </li>

                      <li>
                              <a href="/authors">Author List</a>
                      </li>

                      <li>
                              <a href="/authors/new">Become a FLAB Blog Post Contributor</a>
                      </li>

                      <li>
                              <a href="/articles/new">Create New Article</a>
                      </li>

                      <li>
                              <a href="/sessions/logout">Logout</a>
                      </li>
                    </ul>
              </nav>

        </header>


        <main>
                  <h2>List of Authors</h2>

                  <ul>

                    <% for(let i = 0; i < authors.length; i++){ %>
                    <li>
                        <a href="/authors/<%=authors[i]._id%>">
                        <%=authors[i].name%></a>
                    </li>

                    <% } %>

                  </ul>
        </main>


  </body>
</html>
